{% extends "theme::layouts/default" %}

{% block content %}
    {#        <div>#}
    {#            <a href="{{ url_route('Visiosoft.module.videos::videos_create') }}"#}
    {#               class="btn btn-success" role="button" aria-pressed="true">#}
    {#                Create#}
    {#            </a>#}
    {#        </div>#}

    <div class="container">
        <div class="card bg-light mt-3">
            <div class="card-body">
                <form action="{{ url_route('Visiosoft.module.videos::import') }}"  method="POST" enctype="multipart/form-data">

                    <input type="file" name="file" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-success">Import Video Data</button>
                    <a class="btn btn-warning" href="{{ url_route('Visiosoft.module.videos::export') }}">Export Video Data</a>
                </form>
            </div>
        </div>
    </div><br>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



    <div class="container">
    <form style="float: left">
        <input class="form-control" id="myInput" type="text" name="keywords" placeholder="" value="{{ searchValue }}" style="display: inline-block !important; width: 200px;"></input>
{#        value="{{ searchValue }}"#}
        <input type="submit" name="action" value="Search" class="btn btn-secondary" style="margin-bottom: 5px;"></input>
        <button onclick="document.getElementById('myInput').value = ''" class="btn btn-secondary"  type="" style="margin-bottom: 5px;">Clear</button>
    </form>
    </div>
    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.name") }}</th>#}
    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.video") }}</th>#}
    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.summary") }}</th>#}


    <!-- Button trigger modal -->

    <div class="container">
    <button type="button" class="btn btn-primary btnadd" data-toggle="modal" data-target="#exampleModal2">
        Createaa
    </button>
        <button type="button" class="btn glyphicon-refresh" value="get data" id="data">Yenile</button>
    </div>

    <table id="datatable" class="table table-bordered">

        <thead>
        <tr class="table table-classified">
            <th scope="col">{{ trans("visiosoft.module.videos::field.id") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.name") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.video") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.summary") }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.name }}</td>
                <td>{{ video.video }}</td>
                <td>{{ video.summary }}</td>

                <td>
                    <a style="float:right;" class="btn btn-sm btn-success editbtn"

                       role="button">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>Edit</a>
                    <a style="float:right; margin-right: 10px;" class="btn btn-sm btn-danger"
                       data-id="{{ video.id }}"
                       role="button"
                       onclick="return confirm('This action will delete the record from your table. Do you want to proceed?')">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>Delete</a>
                </td>
            </tr>

        {% endfor %}


        </tbody>

    </table>
    {{ videos.links()|raw }}

    </div>

    <script type="text/javascript">
    $(document).ready(function () {
    function RefreshTable() {
        $('#datatable').load("/videos #datatable" );
    }
    $('#data').on("click", RefreshTable);
    })

    </script>

    <!-- ADD_Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addform">
                    <div class="modal-body">



                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text"  name="name" id="nameA" class="form-control" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label>slug:</label>
                            <input type="text"  name="slug"   id="slugA"  class="form-control" placeholder="slug">
                        </div>

                        <div class="form-group">
                            <label>video:</label>
                            <input type="text" name="video"  class="form-control" placeholder="video">
                        </div>

                        <div class="form-group">
                            <label>summary:</label>
                            <input type="text" name="summary" class="form-control" placeholder="summary">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- EDIT_Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editformID">
                    <div class="modal-body">


                        <div class="form-group">
                                            <input type="hidden" name="id" id="id" class="form-control" value="">
                                            <label>Name:</label>
                                            <input type="text" name="name" id="name" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label>Video:</label>
                                            <input type="text" name="video" id="video" class="form-control" >
                                        </div>

                                        <div class="form-group">
                                            <label>Summary:</label>
                                            <input type="text" name="summary" id="summary" class="form-control" >
                                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('#exampleModal2').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/videosAjaxCreate',
                    data: $('#addform').serialize(),
                    success: function (data) {
                        console.log(data);
                        $('#exampleModal2').modal('hide');
                        alert("veri eklendi");
                        //location.reload();
                    },
                    error: function (error) //
                    {
                        console.log(error)
                        alert("veri eklenmedi");
                    }
                });
            });
        });
    </script>


    <script>


        $('.btn-danger').click(function (e) {

                e.preventDefault();
                var id = $(this).data("id");

                $.ajax({
                    type: 'DELETE',
                    url: 'videos/videosAjaxDelete/' + id,
                    data: {id: id},
                    success: function (data) {
                        alert(data.message);
                        //location.reload();
                    }
                });

        });


    </script>



    <script>
        $(document).ready(function(){
            $("#myinput").on("input", function(){
                // Print entered value in a div box
                $("#result").text($(this).val());
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('.editbtn').on('click', function () {
                $('#exampleModal3').modal('show');

                $tr = $(this).closest('tr');
                var data = $tr.children('td').map(function () {
                    return $(this).text();
                }).get();
                console.log(data);
                $('#id').val(data[0]);
                $('#name').val(data[1]);
                $('#video').val(data[2]);
                $('#summary').val(data[3]);
            });

            $(".btn-submit").click(function(e){
                e.preventDefault();
                var id = $("input[name=id]").val();
                var name = $("input[name=name]").val();
                var video = $("input[name=video]").val();
                var summary = $("input[name=summary]").val();
                $.ajax({
                    type:'PUT',
                    url:'/videos/videosAjaxUpdate/' + id,
                    // data:{id: id, name:name, video:video, summary:summary},
                    data: $('#editformID').serialize(),
                    success:function(data){
                        $('#exampleModal3').modal('hide');
                        alert("güncelleme basarili");

                    }
                });
            });
        });
    </script>

    <script> // for slug
    $(document).ready(function () {
        $('#nameA').change(function () {
            var x = document.getElementById("nameA").value;
            document.getElementById("slugA").value = "_" + x.toLowerCase();
        })
    })
    </script>



{% endblock %}