{% extends "theme::layouts/default" %}
{% block content %}

    {#    <div>#}
    {#        <a href="{{ url_route('Visiosoft.module.videos::videos_create') }}"#}
    {#           class="btn btn-success" role="button" aria-pressed="true">#}
    {#            Create#}
    {#        </a>#}
    {#    </div>#}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <form id="" action="/search" method="get">
        <div class="form-group">
            <input type="search" name="search" value="" class="search-bar">
            <span class="form-group-btn">
                                <button type="submit" class="btn btn-primary">Ara</button>
                                <button type="reset" class="btn btn-primary"
                                        onclick="resetValue()">Temizle</button>
                            </span>
        </div>
    </form>

    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.name") }}</th>#}
    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.video") }}</th>#}
    {#        <th scope="col">{{ trans("visiosoft.module.videos::field.summary") }}</th>#}


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
        Create
    </button>


    <table class="table table-bordered">

        <thead>
        <tr class="table table-classified">
            <th scope="col">{{ trans("visiosoft.module.videos::field.id") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.name") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.username") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.video") }}</th>
            <th scope="col">{{ trans("visiosoft.module.videos::field.summary") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.name }}</td>
                <td>{{ video.username }}</td>
                <td>{{ video.video }}</td>
                <td>{{ video.summary }}</td>
                <td>
                    <button type="button" class="btn btn-primary editbtn">
                        edit
                    </button>

                    <a class="btn btn-sm btn-danger deletebtn" href="#">Delete</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


    <script>
        $(document).ready(function () {

            $('#addform').on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/videosAjaxCreate',
                    data: $('#addform').serialize(),
                    success: function (data) {
                        console.log(data);
                        $('#videosModal').modal('hide');
                        alert("veri eklendi");
                        // location.reload(); //temizle
                        //alert(data.message);
                    },
                    error: function (error) //
                    {
                        console.log(error)
                        alert("veri eklenmedi");
                    }
                });
            });
        });
    </script>


    <script type="text/javascript">

        $('.editbtn').on("click", function (e) {

            $('#videosModaledit').modal('show');
            $tr = $(this).closest('tr');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();
            console.log(data);
            $("#id").val(data[0]);
            $("#name").val(data[1]);
            $("#slug").val(data[2]);
            $("#username").val(data[3]);
            $("#slug").val(data[4]);
            $("#summary").val(data[5]);
        });

        $('.editform').on("click", function (e) {
            e.preventDefault();

            var id = $('#id').val();

            $.ajax({
                type: "PUT",
                url: '/videosAjaxUpdate'+ id,
                data: $('.editform').serialize(),
                success:function (data) {
                 console.log(data);
                 $('#videosModaledit').modal('hide');
                 alert("data updated");
                },
                error: function (error) {
                console.log(error);
                }
            })
        });


    </script>


    <script type="text/javascript">

        $('.deletebtn').on("click", function (e) {

            $('#exampleModal3').modal('show');

            $tr = $(this).closest('tr');

            var data = $tr.children("td").map(function () {
            return $(this).text();
            }).get();

            console.log(data);
            $('#deleted_id').val(data[0]);

        });

        $('#deleteformID').on('submit', function (e) {
        e.preventDefault();

        var id = $('#deleted_id').val();

        $.ajax({
            type: "DELETE",
            url: "/videosAjaxDelete" + id,
            data: $('#deleteFormID').serialize(),
            success:function (data) {
            console.log(data);
            $('#exampleModal3').modal('hide');
            alert("data deleted");
            },
            error:function (error) {
            console.log(error);
            }
        })
        })

    </script>

    <!-- editvideosModal -->
    <div class="modal fade" id="videosModaledit" role="dialog" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">


{#                    {% set form = form('videos', 'video').entry(id).actions({'save':'save'}).get() %}#}

{#                    {{ form_open({#}
{#                        'class': 'form ' ~ form.options.class ,#}
{#                        'id': 'addform',#}
{#                        'enctype': 'multipart/form-data',#}
{#                        'url': '/videosAjaxCreate'#}

{#                    })|raw }}#}
                    <div class="form-group">
                        <label id="id" class="control-label font-weight-bold">{{ form.fields.id.label|raw }}</label>
                        {{ form.fields.id.input|raw }}
                    </div>

                    <div class="form-group">
                        <label id="name" class="control-label font-weight-bold">{{ form.fields.name.label|raw }}</label>
                        {{ form.fields.name.input|raw }}
                    </div>


                    <div class="form-group">
                        <label id="slug" class="control-label font-weight-bold">{{ form.fields.slug.label|raw }}</label>
                        {{ form.fields.slug.input|raw }}
                    </div>


                    <div class="form-group">
                        <label id="username"
                               class="control-label font-weight-bold">{{ form.fields.username.label|raw }}</label>
                        {{ form.fields.username.input|raw }}
                    </div>


                    <div class="form-group">
                        <label id="video"
                               class="control-label font-weight-bold">{{ form.fields.video.label|raw }}</label>
                        {{ form.fields.video.input|raw }}
                    </div>

                    <div class="form-group">
                        <label id="summary"
                               class="control-label font-weight-bold">{{ form.fields.summary.label|raw }}</label>
                        {{ form.fields.summary.input|raw }}
                    </div>


                </div>
            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>

            </div>
        </div>


    <!-- ADD_Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Csslose</button>
                    <button type="submit" class="btn btn-primary">SaveSsss</button>
                </div>

            </div>
        </div>
    </div>



    <!-- Delete_Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="deleteformID">
                <div class="modal-body">
                   <input type="text" name="id" id="deleted_id">
                    <p>Are you sure to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}